- current_user.roles.each do |role|
  = render :partial => role.title

- if @portal_student
  = render :partial => "student"

- if @portal_teacher
  = render :partial => "teacher"
  - if Admin::Project.default_project.enable_teacher_favorites?
    = render :partial => "shared/favorites_listing", :locals => {:runnables => @portal_teacher.favorites}

= yield :authored_investigations

= render :partial => "resource_pages"
